<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link rel="stylesheet" href="/css/join/join_check.css" />
        <link
            rel="shortcut icon"
            href="/images/common/favicon1.ico"
            type="image/x-icon"
        />
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/header.css"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/footer.css"
                />
                <link
                    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                    rel="stylesheet"
                />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin=""
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                    rel="stylesheet"
                />

                <title>회원가입-본인인증</title>
                <style>
                    /* 모든 브라우저에서 기본 스타일 제거 */
                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type="number"] {
                        -moz-appearance: textfield; /* Firefox에서 기본 스타일 제거 */
                    }
                </style>
            </head>
            <body class="fontLoaded">
            <header th:replace="~{all/header.html :: #main-header}"></header>
                <div id="app">
                    <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                        <div
                            class="PageWrapper-sc-1w87j10-0 RegisterPage__StyledPageWrapper-vqq9hl-0 ghbiEC"
                        >
                            <div class="RegisterPage__Wrapper-vqq9hl-1 bvPUqU">
                                <div
                                    class="Center__Wrapper-sc-19p29je-0 gVBJBr"
                                >
                                    <h3>회원가입</h3>
                                </div>
                                <form id="signupForm" th:object="${memberDTO}" method="post" action="/join/join_check" class="Form__RegisterPageForm-sc-1l5lis6-0 fLECcs">
                                    <div>
                                        <input type="text" th:field="*{memberNickname}" name="nickname" placeholder="닉네임" class="Form__Input-sc-1quypp7-1 iRBMai">
                                        <p th:if="${errorMessage}" class="bViOzS">[[${errorMessage}]]</p>
                                        <!-- 닉네임 중복검사에 실패했을때 나올 메세지 -->
                                        <!-- <p class="errorMessage">이미 사용중인 닉네임 입니다.</p> -->
                                    </div>

                                    <div class="Certification__InputWithButtonWrapper-x9bojy-0 gIqJFQ">
                                        <div>
                                            <input type="tel" name="memberTell" th:field="*{memberTell}" placeholder="휴대폰 번호 ( - 없이 입력)" class="Form__Input-sc-1quypp7-1 iRBMai phoneInput">
                                            <p class="errorMessage" style="display:none;">올바른 휴대폰 번호 형식이 아닙니다.</p>
                                        </div>
                                        <button type="button" class="Button-bqxlp0-0 gsRKCU numberSend">인증번호 전송</button>
                                    </div>

                                    <div class="Certification__InputWithButtonWrapper-x9bojy-0 cMRMEQ">
                                        <div>
                                            <input type="number" name="verificationCodeInput" placeholder="인증번호" pattern="[0-9]*" class="Form__Input-sc-1quypp7-1 iRBMai checkNumber">
                                            <p class="errorMessage" style="display:none;">올바른 인증번호 형식이 아닙니다.</p>
                                        </div>
                                        <button type="button" class="Button-bqxlp0-0 jquNPr confirmButton">인증하기</button>
                                    </div>

                                    <button type="submit" id="signupSubmit" class="Button-bqxlp0-0 SubmitButton__RegisterPageSubmitButton-np91gr-0 chSrfn" disabled>가입하기</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-root"></div>
                <div id="dnd-root"></div>
                <footer th:replace="~{all/footer.html :: #main-footer}"></footer>
            </body>
            <script src="/js/join/join_check.js"></script>
            <script src="/js/all/footer.js"></script>
        </html>
    </head>
</html>
