html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

* {
    outline: none;
    font-family: inherit;
}

.bScXKt {
    display: flex
;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.cZvMcY {
    margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

.cxqTPR {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px;
    white-space: nowrap;
    overflow: auto;
}

.changeBlue {
    color: rgb(51, 151, 255);
    cursor: pointer;
}

.cxqTPR > span {
    margin-right: 20px;
}

.changeBlack {
    color: black;
    cursor: pointer;
}

.cxqTPR > span:last-child {
    margin-right: 0px;
}

.koasSX {
    width: 72%;
    height: auto;
    transition: opacity 200ms ease-in-out;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.iZZkGw {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.ckmAlF {
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.jEbLXp {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.ipMFPV {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.benKgP {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(160, 130, 250);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    

    }

.cOBcxv {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
 }
 

.hBVRcD {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0px;
    background-color: white;
}

.gIsDDT {
    display: flex;
    margin-right: 10px;
 }

 button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button {
    cursor: pointer;
}

.iItkLq {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: not-allowed;
    border-radius: 50%;
    font-size: 18px;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

img {
    border-style: none;
}

.jVxRns {
    transform: rotate(180deg);
}

.RPlDq {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: rgb(51, 151, 255);
    font-size: 18px;
    font-weight: bold;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.eNIHag {
    display: flex
;
    margin-left: 10px;
}

.garfld {
    width: 40px;
    height: 40px;
    line-height: normal;
    padding: 0px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}

.hiddenList {
    display: none;
}

p, label {
    margin: 0px;
}

/* .createComment * {
    width: 100%;
    font-family: inherit;
    font-size: 14px;
} */

.createComment {
    width: 100%;
    min-height: 84px;
    padding: 20px;
    background-color: rgb(239, 247, 255);
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
}

.pauseBtn {
    width: 83px;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 81%;
}
.expelBtn {
    width: 83px;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 81%;
}
.restartBtn {
    width: 83px;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 81%;
}
.manageBtn {
    width: 100px;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 82.5%;
}
.deleteBtn{
    width: 100px;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 83.5%;
}

.editBtn{
    width: 10%;
    padding: 8px;
    margin-top: -2px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    position: relative;
    left: 90%;
    top: -3px;
}
.saveBtn{
    width: 10%;
    padding: 8px;
    margin-top: -2px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    position: relative;
    left: 90%;
}

/* 회원 정지 스타일 */
.banned {
    background-color: gray;
    opacity: 0.6;
    
}

/* 회원 추방 스타일 */
.removed {
    text-decoration: line-through;
    color: red;
    background-color: rgb(88, 87, 87);
    opacity: 0.6;
}
