html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

* {
    outline: none;
    font-family: inherit;
}

.gNQfPm {
    padding-bottom: 24px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

.jhIEWm {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.iKjpvd {
    padding: 20px 20px 20px;
    margin: 0px auto;
    max-width: 768px;
    display: flex
;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.epAnZX {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: -0.72px;
    color: rgb(51, 51, 51);
}

.cJASPK {
    padding: 0px 20px;
    position: relative;
}

.koasSX {
    width: auto;
    height: auto;
    transition: opacity 200msease-in-out;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.eOsQaF {
    display: flex
;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(119, 119, 119);
    padding: 100px 0px;
}

b, strong {
    font-weight: bolder;
}

.bLfngk {
    font-size: 18px;
    line-height: 26px;
    margin-top: 24px;
}

.eFwpFm {
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px;
}

.dIznkQ {
    margin-bottom: 32px;
    width: 100%;
}

.mainContainer {
    display: flex
;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
    min-height: 1px;
}

.hWqRHN {
    overflow: hidden;
}

.firstBanner {
    margin-top: 30px;
}

.hHiTXT {
    padding-bottom: 0px;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.cOsMnB.slick-initialized {
    visibility: visible;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cOsMnB .slick-list {
    border-radius: 5px;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-initialized .slick-slide {
    display: block;
}

.lQqkn {
    min-height: 1px;
}

.gDuKGF {
    min-height: 1px;
}

.koasSX {
    width: auto;
    height: auto;
    transition: opacity 200msease -in-out;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.VUNpz {
    display: initial;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-slide img {
    display: block;
}

.commentCource {
    position: inherit;
    color: black;
    top: 5%;
    left: 2%;
    font-size: 20px;
}

.firstwBanner{
    margin: 40px auto 0px;
}