<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
    <link
            rel="stylesheet"
            href="/css/myPage/changePassword.css"
    />
    <link
            rel="shortcut icon"
            href="/images/common/favicon1.ico"
            type="image/x-icon"
    />
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
        />
        <link
                rel="stylesheet"
                href="/css/common/header.css"
        />
        <link
                rel="stylesheet"
                href="/css/feeds/write.css"
        />
        <link
                rel="stylesheet"
                href="/css/common/footer.css"
        />
        <link
                href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                rel="stylesheet"
        />
        <link
                rel="preconnect"
                href="https://fonts.gstatic.com"
                crossorigin=""
        />
        <link
                href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                rel="stylesheet"
        />

        <title>비밀번호 변경</title>
    </head>
    <body class="fontLoaded">
    <header th:replace="~{all/header.html :: #main-header}"></header>
    <div id="app">
        <div class="App__AppWrapper-nc5ti6-0 idXWQn">
            <div class="PageWrapper-sc-1w87j10-0 dqLSTf">
                <div class="Center__Wrapper-sc-19p29je-0 gVBJBr">
                    <h3>비밀번호 변경</h3>
                </div>
                <form th:action="@{/login/update-password}" method="post"
                      class="LoginRegister__LoginRegisterForm-gtp545-0 fjvnva">
                    <div>
                        <!-- 새 비밀번호 입력 -->
                        <input type="password" th:name="newPassword" placeholder="새 비밀번호 입력"
                               class="Form__Input-sc-1quypp7-1 iRBMai newPassword" required/>
                        <p class="Form__Description-sc-1quypp7-2 cIOZzg">
                            대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상
                        </p>
                    </div>
                    <div>
                        <!-- 비밀번호 재확인 -->
                        <input type="password" th:name="newPasswordConfirm" placeholder="새 비밀번호 한번 더 입력"
                               class="Form__Input-sc-1quypp7-1 iRBMai checkPassword" required/>
                    </div>

                    <!-- 비밀번호 변경 버튼 -->
                    <button type="submit" width="100%" height="56px" color="#f4f4f4"
                            font-size="16px" th:disabled="${disableSubmit}" class="Button-bqxlp0-0 SubmitButton__RegisterPageSubmitButton-np91gr-0 chSrfn">
                        변경하기
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="modal-root"></div>
    <div id="dnd-root"></div>
    <footer th:replace="~{all/footer.html :: #main-footer}"></footer>
    </body>
    <script src="/js/login/change-lost-password.js"></script>
    <script src="/js/all/footer.js"></script>
    <script th:inline="javascript">
        let message = [[${message}]];
        if (message) {
            alert(message);
        }
    </script>
    </html>
</head>
</html>
