<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link rel="stylesheet" href="/css/login/findPassword.css" />
        <link
            rel="shortcut icon"
            href="/images/common/favicon1.ico"
            type="image/x-icon"
        />

        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/header.css"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/footer.css"
                />
                <link
                    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                    rel="stylesheet"
                />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin=""
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                    rel="stylesheet"
                />

                <title>비밀번호 찾기</title>
            </head>
            <body class="fontLoaded">

            <!-- 로딩 GIF -->
            <div id="overlay"></div>
            <img id="loading" src="/images/login/loading.gif" alt="로딩 중...">

            <header th:replace="~{all/header.html :: #main-header}"></header>
                <div id="app">
                    <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                        <div
                            class="FindPasswordPage__Wrapper-sc-26m6x7-0 kzcpGk"
                        >
                            <div class="Center__Wrapper-sc-19p29je-0 gVBJBr">
                                <h3>비밀번호 찾기</h3>
                            </div>
                            <form
                                class="LoginRegister__LoginRegisterForm-gtp545-0 fjvnva"
                                action="/login/find-password" method="POST"
                            >
                                <div>
                                    <!-- 이메일 형식이 잘못 되었을때 -->
                                    <!-- input태그의 class중 iRBMai를 삭제하고 inputError클래스를 추가한다 -->
                                    <input
                                        type="email"
                                        name="email"
                                        placeholder="아이디 (이메일)"
                                        class="Form__Input-sc-1quypp7-1 iRBMai"
                                    />
                                    <!-- 이메일 형식이 잘못 되었을때에는 -->
                                    <!-- 아래의 p태그에 errorMessage클래스를 추가해주고 cIOZzg클래스를 삭제한다 -->
                                    <!-- "올바른 이메일 형식이 아닙니다." 문구로 변경해준다 -->
                                    <p
                                        class="Form__Description-sc-1quypp7-2 cIOZzg"
                                    >
                                        재설정하려는 비밀번호의 아이디(이메일)를
                                        입력해 주세요.
                                    </p>
                                </div>
                                <!-- 이메일 형식이 제대로 되었을때 버튼을 활성화시켜준다 -->
                                <!-- button태그에 buttonChange클래스를 추가하고 ppTTf 클래스를 삭제한다 -->
                                <button
                                    type="submit"
                                    width="100%"
                                    height="56px"
                                    color="#f4f4f4"
                                    font-size="16px"
                                    class="Button-bqxlp0-0 ppTTf"
                                    disabled
                                >
                                    이메일 발송
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="modal-root"></div>
                <div id="dnd-root"></div>
            <footer th:replace="~{all/footer.html :: #main-footer}"></footer>
            </body>
            <script src="/js/login/findPassword.js"></script>
            <script src="/js/all/footer.js"></script>
            <!-- 이메일 조회 실패 시 메시지 출력 -->
            <script th:inline="javascript">
                let error = [[${error}]];
                let success = [[${success}]]
                let message = [[${message}]]

                if (error) {
                    alert(error);
                } else if (success){
                    alert(success);
                } else if (message){
                    alert(message);
                }
            </script>
        </html>
    </head>
</html>
