<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link rel="stylesheet" href="/css/login/login.css" />
        <link
            rel="shortcut icon"
            href="/images/common/favicon1.ico"
            type="image/x-icon"
        />

        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/header.css"
                />
                <link
                    rel="stylesheet"
                    href="/css/feeds/write.css"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/footer.css"
                />
                <link
                    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                    rel="stylesheet"
                />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin=""
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                    rel="stylesheet"
                />

                <title>로그인</title>
            </head>
            <body class="fontLoaded">
            <header th:replace="~{all/header.html :: #main-header}"></header>
                <div id="app">
                    <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                        <div
                            class="PageWrapper-sc-1w87j10-0 LoginPage__Wrapper-sc-1q7uxne-0 FgkIX"
                        >
                            <br />
                            <div class="Center__Wrapper-sc-19p29je-0 gVBJBr">
                                <h3>로그인</h3>
                            </div>
                            <form
                                    action="/login/login" method="post" th:object="${memberDTO}"
                                    class="LoginRegister__LoginRegisterForm-gtp545-0 fjvnva"
                            >

                                <!-- 에러 메시지 -->
                                <div th:if="${error}" class="Form__Description-sc-1quypp7-2 bViOzS">
                                    <p th:text="${error}"></p>
                                </div>

                                <!-- 비밀번호 변경 성공 메시지 -->
                                <div th:if="${success}" class="Form__Description-sc-1quypp7-2 successMessage">
                                    <p th:text="${success}"></p>
                                </div>

                                <div>
                                    <!-- 이메일 형식이 올바르지 않을때 input class에 inputError를 추가해주고 iRBMai를 삭제한다-->
                                    <input
                                        th:field="*{memberEmail}" required
                                        type="text"
                                        placeholder="아이디 (이메일)"
                                        class="Form__Input-sc-1quypp7-1 iRBMai idInput"
                                    />
                                    <!-- 이메일 형식이 올바르지 않을때 출력될 메세지 -->
                                    <!-- <p class = "errorMessage">올바른 이메일 형식이 아닙니다.</p> -->
                                </div>
                                <div>
                                    <input
                                        th:field="*{memberPassword}" required
                                        type="password"
                                        placeholder="비밀번호"
                                        class="Form__Input-sc-1quypp7-1 iRBMai passwordInput"
                                    />
                                </div>

                                <a
                                    class="LoginForm__FindPasswordLink-sc-1co2pzc-0 gbyPIP"
                                    href="/login/find-password"
                                    >비밀번호 찾기</a
                                >
                                <!-- 이메일의 형식검사가 맞고 비밀번호를 입력했을때 buttonChange 클래스를 추가하여 활성화하고 -->
                                <button
                                    type="submit"
                                    width="100%"
                                    height="56px"
                                    font-size="16px"
                                    color="#f4f4f4"
                                    class="Button-bqxlp0-01 iikbgZ loginButton"
                                >
                                    로그인
                                </button>
                            </form>
                            <div
                                class="AnotherWayLogin__Wrapper-sc-1u8ecwv-0 MYdft"
                            >
                                다른방식으로 로그인
                                <div
                                    class="AnotherWayLogin__IconButtonWrapper-sc-1u8ecwv-1 gBvQUd"
                                >
                                    <button
                                        type="button"
                                        style="cursor: pointer"
                                    >
                                        <a class="kakaologin" href="https://kauth.kakao.com/oauth/authorize?client_id=1f0eec6d921e399c7940b9689a7896e3&redirect_uri=http://43.203.69.19:10000/kakao/login&response_type=code">
                                        <img
                                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48'%3E %3Crect width='48' height='48' fill='%23FBE850' rx='10'/%3E %3Cpath fill='%23000' d='M24 14c-6.628 0-12 4.236-12 9.462 0 3.378 2.246 6.342 5.625 8.016-.184.634-1.181 4.078-1.221 4.349 0 0-.024.203.108.28.131.078.286.018.286.018.378-.053 4.378-2.863 5.07-3.35.692.097 1.405.148 2.132.148 6.628 0 12-4.236 12-9.462C36 18.236 30.628 14 24 14z'/%3E %3C/svg%3E"
                                            alt="kakao-login-icon"
                                            href="/kakao/login"
                                        />
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-root"></div>
                <div id="dnd-root"></div>
            <footer th:replace="~{all/footer.html :: #main-footer}"></footer>
            </body>
            <script src="/js/login/login.js"></script>
            <script src="/js/all/footer.js"></script>
        </html>
    </head>
</html>
