<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/common/header.css" />
        <link rel="stylesheet" href="../../static/css/common/footer.css" />
        <link
            rel="stylesheet"
            href="../../static/css/myPage/changePassword.css"
        />
        <link
            rel="shortcut icon"
            href="../../static/images/common/favicon1.ico"
            type="image/x-icon"
        />
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <link
                    rel="stylesheet"
                    href="../../static/css/common/header.css"
                />
                <link
                    rel="stylesheet"
                    href="../../static/css/feeds/write.css"
                />
                <link
                    rel="stylesheet"
                    href="../../static/css/common/footer.css"
                />
                <link
                    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                    rel="stylesheet"
                />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin=""
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                    rel="stylesheet"
                />

                <title>비밀번호 변경</title>
            </head>
            <body class="fontLoaded">
                <div id="app">
                    <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                        <!-- Header will be dynamically inserted here -->
                        <div id="header-placeholder"></div>
                        <script>
                            // Load header.html and insert it in#header-placeholder
                            fetch("../all/header.html")
                                .then((response) => response.text())
                                .then((data) => {
                                    document.getElementById(
                                        "header-placeholder"
                                    ).innerHTML = data;
                                })
                                .catch((error) =>
                                    console.error(
                                        "Error loading header:",
                                        error
                                    )
                                );
                        </script>
                        <div class="PageWrapper-sc-1w87j10-0 dqLSTf">
                            <div class="Center__Wrapper-sc-19p29je-0 gVBJBr">
                                <h3>비밀번호 변경</h3>
                            </div>
                            <form
                                class="LoginRegister__LoginRegisterForm-gtp545-0 fjvnva"
                            >
                                <div>
                                    <input
                                        type="password"
                                        name="oldPassword"
                                        placeholder="기존 비밀번호 입력"
                                        class="Form__Input-sc-1quypp7-1 iRBMai"
                                    />
                                </div>
                                <div>
                                    <!-- 비밀번호 정규식이 맞지 않을경우 -->
                                    <!-- p태그의 cIOZzg클래스를 삭제하고 changeComment 클래스를 추가한다.-->
                                    <input
                                        type="password"
                                        name="newPassword"
                                        placeholder="새 비밀번호 입력"
                                        class="Form__Input-sc-1quypp7-1 iRBMai newPassword"
                                    />
                                    <p
                                        class="Form__Description-sc-1quypp7-2 cIOZzg"
                                    >
                                        대/소문자, 숫자, 특수문자 중 2가지
                                        이상의 조합으로 10자 이상
                                    </p>
                                </div>
                                <div>
                                    <input
                                        type="password"
                                        name="newPasswordConfirm"
                                        placeholder="새 비밀번호 한번 더 입력"
                                        class="Form__Input-sc-1quypp7-1 iRBMai checkPassword"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    width="100%"
                                    height="56px"
                                    color="#f4f4f4"
                                    font-size="16px"
                                    disabled=""
                                    class="Button-bqxlp0-0 SubmitButton__RegisterPageSubmitButton-np91gr-0 chSrfn"
                                >
                                    변경하기
                                </button>
                            </form>
                        </div>
                        <!-- Footer will be dynamically inserted here -->
                        <div id="footer-placeholder"></div>
                        <script>
                            // Load footer.html and insert it into #footer-placeholder
                            fetch("../all/footer.html")
                                .then((response) => response.text())
                                .then((data) => {
                                    document.getElementById(
                                        "footer-placeholder"
                                    ).innerHTML = data;
                                })
                                .catch((error) =>
                                    console.error(
                                        "Error loading footer:",
                                        error
                                    )
                                );
                        </script>
                    </div>
                </div>
                <div id="modal-root"></div>
                <div id="dnd-root"></div>
            </body>
            <script src="../../static/js/myPage/changePassword.js"></script>
        </html>
    </head>
</html>
