<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link rel="stylesheet" href="/css/myPage/myCourse.css" />
        <link
            rel="shortcut icon"
            href="/images/common/favicon1.ico"
            type="image/x-icon"
        />
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/header.css"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/footer.css"
                />
                <link
                    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                    rel="stylesheet"
                />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin=""
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                    rel="stylesheet"
                />

                <title>내가 다녀온 코스</title>
            </head>
            <body class="fontLoaded">
            <header th:replace="/all/header.html :: #main-header"></header>
                <div id="app">
                    <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                        <div class="mainContainer">
                            <div
                                class="MyPurchases__PcTopWrapper-ag7quq-1 kTezqN"
                            >
                                <header
                                    class="PcTop__Wrapper-sc-1mni0hl-0 jhIEWm"
                                >
                                    <div
                                        class="PcTop__Content-sc-1mni0hl-1 iKjpvd"
                                    >
                                        <div
                                            class="PcTop__Title-sc-1mni0hl-2 epAnZX"
                                        >
                                            내가 다녀온 코스
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <!-- 찜한목록이 있을때 나올 화면 -->
                            <div class="Banner__Wrapper-dlocnb-0 dIznkQ">

                                <!--<div
                                    class="Banner__ImageSliderWrapper-dlocnb-2 hWqRHN"
                                >
                                    <div
                                        class="ImageSlider__SliderWrapper-sc-1obm2ug-0 hHiTXT"
                                    >
                                        <div
                                            class="slick-slider ImageSlider__StyledSlider-sc-1obm2ug-1 cOsMnB slick-initialized"
                                        >
                                            <div class="slick-list">
                                                <div
                                                    class="slick-track firstwBanner"
                                                    style="
                                                        opacity: 1;
                                                        transform: translate3d(
                                                            0px,
                                                            0px,
                                                            0px
                                                        );
                                                        width: 768px;
                                                    "
                                                >
                                                    <div
                                                        data-index="0"
                                                        class="slick-slide slick-active slick-current"
                                                        tabindex="-1"
                                                        aria-hidden="false"
                                                        style="
                                                            outline: none;
                                                            width: 768px;
                                                        "
                                                    >
                                                        <div>
                                                            <a
                                                                class="withLink__StyledLink-zuberk-0 lQqkn"
                                                                href="/collections/1934"
                                                                ><div
                                                                    class="Image__Wrapper-v97gyx-0 gDuKGF"
                                                                >
                                                                    <div
                                                                        class="Fade__Wrapper-sc-1s0ipfq-0 koasSX"
                                                                        style="
                                                                            opacity: 1;
                                                                            display: block;
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="Ratio"
                                                                            style="
                                                                                display: block;
                                                                            "
                                                                        >
                                                                            <div
                                                                                class="Ratio-ratio"
                                                                                style="
                                                                                    height: 0px;
                                                                                    position: relative;
                                                                                    width: 100%;
                                                                                    padding-top: 30%;
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="Ratio-content"
                                                                                    style="
                                                                                        height: 80%;
                                                                                        left: 0px;
                                                                                        position: absolute;
                                                                                        top: 0px;
                                                                                        width: 100%;
                                                                                    "
                                                                                >
                                                                                    <img
                                                                                        alt=" 이미지"
                                                                                        class="추천코스Image__StyledImage-v97gyx-1 VUNpz"
                                                                                        width="768"
                                                                                        src="/images/main/내장산.jpg"
                                                                                    />
                                                                                    <div
                                                                                        class="commentCource"
                                                                                    >
                                                                                        A
                                                                                        코스
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="heartWrap"
                                                                                >
                                                                                    <button
                                                                                        class="heartButton"
                                                                                    >
                                                                                        <img
                                                                                            src="/images/main/red.svg"
                                                                                            alt="찜하기"
                                                                                        />
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div></div
                                                            ></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="Banner__ImageSliderWrapper-dlocnb-2 hWqRHN"
                                >
                                    <div
                                        class="ImageSlider__SliderWrapper-sc-1obm2ug-0 hHiTXT"
                                    >
                                        <div
                                            class="slick-slider ImageSlider__StyledSlider-sc-1obm2ug-1 cOsMnB slick-initialized"
                                        >
                                            <div class="slick-list">
                                                <div
                                                    class="slick-track"
                                                    style="
                                                        opacity: 1;
                                                        transform: translate3d(
                                                            0px,
                                                            0px,
                                                            0px
                                                        );
                                                        width: 768px;
                                                    "
                                                >
                                                    <div
                                                        data-index="0"
                                                        class="slick-slide slick-active slick-current"
                                                        tabindex="-1"
                                                        aria-hidden="false"
                                                        style="
                                                            outline: none;
                                                            width: 768px;
                                                        "
                                                    >
                                                        <div>
                                                            <a
                                                                class="withLink__StyledLink-zuberk-0 lQqkn"
                                                                href="/collections/1934"
                                                                ><div
                                                                    class="Image__Wrapper-v97gyx-0 gDuKGF"
                                                                >
                                                                    <div
                                                                        class="Fade__Wrapper-sc-1s0ipfq-0 koasSX"
                                                                        style="
                                                                            opacity: 1;
                                                                            display: block;
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="Ratio"
                                                                            style="
                                                                                display: block;
                                                                            "
                                                                        >
                                                                            <div
                                                                                class="Ratio-ratio"
                                                                                style="
                                                                                    height: 0px;
                                                                                    position: relative;
                                                                                    width: 100%;
                                                                                    padding-top: 30%;
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="Ratio-content"
                                                                                    style="
                                                                                        height: 80%;
                                                                                        left: 0px;
                                                                                        position: absolute;
                                                                                        top: 0px;
                                                                                        width: 100%;
                                                                                    "
                                                                                >
                                                                                    <img
                                                                                        alt=" 추천코스 이미지"
                                                                                        class="Image__StyledImage-v97gyx-1 VUNpz"
                                                                                        width="768"
                                                                                        style="
                                                                                            object-position: 0%
                                                                                                80%;
                                                                                        "
                                                                                        ;=""
                                                                                        src="/images/main/sunjaryung.webp"
                                                                                    />
                                                                                    <div
                                                                                        class="commentCource"
                                                                                    >
                                                                                        B
                                                                                        코스
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="heartWrap"
                                                                                >
                                                                                    <button
                                                                                        class="heartButton"
                                                                                    >
                                                                                        <img
                                                                                            src="/images/main/red.svg"
                                                                                            alt="찜하기"
                                                                                        />
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div></div
                                                            ></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="Banner__ImageSliderWrapper-dlocnb-2 hWqRHN"
                                >
                                    <div
                                        class="ImageSlider__SliderWrapper-sc-1obm2ug-0 hHiTXT"
                                    >
                                        <div
                                            class="slick-slider ImageSlider__StyledSlider-sc-1obm2ug-1 cOsMnB slick-initialized"
                                        >
                                            <div class="slick-list">
                                                <div
                                                    class="slick-track"
                                                    style="
                                                        opacity: 1;
                                                        transform: translate3d(
                                                            0px,
                                                            0px,
                                                            0px
                                                        );
                                                        width: 768px;
                                                    "
                                                >
                                                    <div
                                                        data-index="0"
                                                        class="slick-slide slick-active slick-current"
                                                        tabindex="-1"
                                                        aria-hidden="false"
                                                        style="
                                                            outline: none;
                                                            width: 768px;
                                                        "
                                                    >
                                                        <div>
                                                            <a
                                                                class="withLink__StyledLink-zuberk-0 lQqkn"
                                                                href="/collections/1934"
                                                                ><div
                                                                    class="Image__Wrapper-v97gyx-0 gDuKGF"
                                                                >
                                                                    <div
                                                                        class="Fade__Wrapper-sc-1s0ipfq-0 koasSX"
                                                                        style="
                                                                            opacity: 1;
                                                                            display: block;
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="Ratio"
                                                                            style="
                                                                                display: block;
                                                                            "
                                                                        >
                                                                            <div
                                                                                class="Ratio-ratio"
                                                                                style="
                                                                                    height: 0px;
                                                                                    position: relative;
                                                                                    width: 100%;
                                                                                    padding-top: 30%;
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="Ratio-content"
                                                                                    style="
                                                                                        height: 80%;
                                                                                        left: 0px;
                                                                                        position: absolute;
                                                                                        top: 0px;
                                                                                        width: 100%;
                                                                                    "
                                                                                >
                                                                                    <img
                                                                                        alt="추천코스 이미지"
                                                                                        class="Image__StyledImage-v97gyx-1 VUNpz"
                                                                                        width="768"
                                                                                        src="/images/main/namwon.jpg"
                                                                                    />
                                                                                    <div
                                                                                        class="commentCource"
                                                                                    >
                                                                                        C
                                                                                        코스
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="heartWrap"
                                                                                >
                                                                                    <button
                                                                                        class="heartButton"
                                                                                    >
                                                                                        <img
                                                                                            src="/images/main/red.svg"
                                                                                            alt="찜하기"
                                                                                        />
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div></div
                                                            ></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="Banner__ImageSliderWrapper-dlocnb-2 hWqRHN"
                                >
                                    <div
                                        class="ImageSlider__SliderWrapper-sc-1obm2ug-0 hHiTXT"
                                    >
                                        <div
                                            class="slick-slider ImageSlider__StyledSlider-sc-1obm2ug-1 cOsMnB slick-initialized"
                                        >
                                            <div class="slick-list">
                                                <div
                                                    class="slick-track"
                                                    style="
                                                        opacity: 1;
                                                        transform: translate3d(
                                                            0px,
                                                            0px,
                                                            0px
                                                        );
                                                        width: 768px;
                                                    "
                                                >
                                                    <div
                                                        data-index="0"
                                                        class="slick-slide slick-active slick-current"
                                                        tabindex="-1"
                                                        aria-hidden="false"
                                                        style="
                                                            outline: none;
                                                            width: 768px;
                                                        "
                                                    >
                                                        <div>
                                                            <a
                                                                class="withLink__StyledLink-zuberk-0 lQqkn"
                                                                href="/collections/1934"
                                                                ><div
                                                                    class="Image__Wrapper-v97gyx-0 gDuKGF"
                                                                >
                                                                    <div
                                                                        class="Fade__Wrapper-sc-1s0ipfq-0 koasSX"
                                                                        style="
                                                                            opacity: 1;
                                                                            display: block;
                                                                        "
                                                                    >
                                                                        <div
                                                                            class="Ratio"
                                                                            style="
                                                                                display: block;
                                                                            "
                                                                        >
                                                                            <div
                                                                                class="Ratio-ratio"
                                                                                style="
                                                                                    height: 0px;
                                                                                    position: relative;
                                                                                    width: 100%;
                                                                                    padding-top: 30%;
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="Ratio-content"
                                                                                    style="
                                                                                        height: 80%;
                                                                                        left: 0px;
                                                                                        position: absolute;
                                                                                        top: 0px;
                                                                                        width: 100%;
                                                                                    "
                                                                                >
                                                                                    <img
                                                                                        alt="추천코스
                                                                                    이미지"
                                                                                        class="Image__StyledImage-v97gyx-1 VUNpz"
                                                                                        width="768"
                                                                                        style="
                                                                                            object-position: 0%
                                                                                                80%;
                                                                                        "
                                                                                        ;=""
                                                                                        src="/images/main/jirisan.webp"
                                                                                    />
                                                                                    <div
                                                                                        class="commentCource"
                                                                                    >
                                                                                        D
                                                                                        코스
                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class="heartWrap"
                                                                                >
                                                                                    <button
                                                                                        class="heartButton"
                                                                                    >
                                                                                        <img
                                                                                            src="/images/main/red.svg"
                                                                                            alt="찜하기"
                                                                                        />
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div></div
                                                            ></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            <!--여기까지-->
                <div id="modal-root"></div>
                <div id="dnd-root"></div>
                <footer th:replace="/all/footer.html :: #main-footer"></footer>
            </body>
            <script src="/js/myPage/myCourse.js"></script>
        </html>
    </head>
</html>
