<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link rel="stylesheet" href="/css/myPage/payContent.css" />
        <link
            rel="shortcut icon"
            href="/images/common/favicon1.ico"
            type="image/x-icon"
        />
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/header.css"
                />
                <link
                    rel="stylesheet"
                    href="/css/common/footer.css"
                />
                <link
                    href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700"
                    rel="stylesheet"
                />
                <link
                    rel="preconnect"
                    href="https://fonts.gstatic.com"
                    crossorigin=""
                />
                <link
                    href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
                    rel="stylesheet"
                />

                <title>결제내역</title>
            </head>
            <body class="fontLoaded">
            <header th:replace="/all/header.html :: #main-header"></header>
                <div id="app">
                    <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                        <div class="MyPurchases__Wrapper-ag7quq-0 hyZNiE">
                            <div
                                class="MyPurchases__PcTopWrapper-ag7quq-1 kTezqN"
                            >
                                <header
                                    class="PcTop__Wrapper-sc-1mni0hl-0 jhIEWm"
                                >
                                    <div
                                        class="PcTop__Content-sc-1mni0hl-1 iKjpvd"
                                    >
                                        <div
                                            class="PcTop__Title-sc-1mni0hl-2 epAnZX"
                                        >
                                            결제내역
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <div class="PageWrapper-sc-1w87j10-0 bScXKt" id="pay-list-wrapper">
                                <!--<div class="sc-fimazj-0 gKYVxm">
                                    <div class="sc-abukv2-0 kcHmyx">
                                        <div class="sc-abukv2-1 kSZYgn">
                                            2025. 1. 22
                                        </div>
                                        <div class="sc-abukv2-2 kThsCL"></div>
                                    </div>
                                    <div class="sc-gnmni8-0 elGTUw">
                                        <table class="sc-gnmni8-1 eSpcfO">
                                            <colgroup>
                                                <col width="600" />
                                                <col width="" />
                                            </colgroup>
                                            <tbody class="sc-gnmni8-2 hryMPB">
                                                <tr class="sc-gnmni8-3 gmGnuU">
                                                    <td
                                                        class="sc-gnmni8-5 hUzAOG"
                                                    >
                                                        <div
                                                            class="sc-1jiyjbz-0 dGiGeF"
                                                        >
                                                            <div
                                                                class="sc-gnmni8-9 kCcQTc"
                                                            >
                                                                <div
                                                                    class="sc-g8964r-0 oRzGt"
                                                                ></div>
                                                                <div
                                                                    class="sc-9cwg9-1 gLgexz"
                                                                >
                                                                    <div
                                                                        class="sc-9cwg9-2 cNiGzR"
                                                                    >
                                                                        <div
                                                                            class="sc-9cwg9-3 eEDOvs"
                                                                        >
                                                                            <a
                                                                                class="sc-1uwk3m0-0 kdlGbA sc-9cwg9-0 gujsmv"
                                                                                href="/ssr/sdp/link?vendorItemId=85656229794&amp;imagePath=https%3A%2F%2Fthumbnail.coupangcdn.com%2Fthumbnails%2Fremote%2F96x96ex%2Fimage%2F1025_amir_coupang_oct_80k%2Fa7ef%2F9e6e8620946716e0562acb703c706173b8766c2176121fa6a7de369b71d7.jpg&amp;sourceType=MyCoupang_my_orders_list_product_image"
                                                                                target="_blank"
                                                                                ><img
                                                                                    loading="lazy"
                                                                                    width="100%"
                                                                                    height="100%"
                                                                                    src="/images/main/sunjaryung.webp"
                                                                            /></a>
                                                                        </div>
                                                                        <div
                                                                            class="sc-9cwg9-5 bmwSdh"
                                                                        >
                                                                            <div
                                                                                class="sc-9cwg9-6 jBCCpd"
                                                                            >
                                                                                <a
                                                                                    class="sc-gnmni8-10 yma-DD"
                                                                                ></a
                                                                                ><a
                                                                                    href="/ssr/sdp/link?vendorItemId=85656229794&amp;imagePath=https%3A%2F%2Fthumbnail.coupangcdn.com%2Fthumbnails%2Fremote%2F96x96ex%2Fimage%2F1025_amir_coupang_oct_80k%2Fa7ef%2F9e6e8620946716e0562acb703c706173b8766c2176121fa6a7de369b71d7.jpg&amp;sourceType=MyCoupang_my_orders_list_product_title"
                                                                                    target="_blank"
                                                                                    class="sc-gnmni8-10 sc-8q24ha-0 yma-DD hPjYZj"
                                                                                ></a
                                                                                ><a
                                                                                    class="sc-gnmni8-10 yma-DD"
                                                                                ></a
                                                                                ><a
                                                                                    class="sc-gnmni8-10 sc-8q24ha-5 yma-DD iDQVMP"
                                                                                    ><div
                                                                                        class="sc-8q24ha-3 gFbjJh"
                                                                                    >
                                                                                        <div
                                                                                            class="sc-uaa4l4-0 jxRaeI"
                                                                                        >
                                                                                            <span
                                                                                                class="sc-13xhsmd-0 kYtEGM"
                                                                                                ><span
                                                                                                    class="sc-13xhsmd-1 joIhoV"
                                                                                                ></span
                                                                                            ></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="sc-8q24ha-4 cUFnye"
                                                                                    >
                                                                                        <div
                                                                                            class="sc-xuyxga-1 hxalxw"
                                                                                        ></div></div
                                                                                ></a>
                                                                                <div
                                                                                    class="sc-fxyxvg-0 igPkOG"
                                                                                ></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="sc-gnmni8-6 gbTJl"
                                                    >
                                                        <div
                                                            class="sc-gnmni8-7 bCQoer"
                                                        >
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                코스명: B코스
                                                            </div>
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                결제 금액 :
                                                                20,000 원
                                                            </div>
                                                            &lt;!&ndash; 그룹참여일 경우 &ndash;&gt;
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                참여형태 :
                                                                그룹참여
                                                            </div>
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                참여인원 : 2명
                                                            </div>
                                                            &lt;!&ndash; 단독참여일 경우 &ndash;&gt;
                                                            &lt;!&ndash; <div class="insertComent">참여형태 : 단독참여</div>
                                                            <div class="insertComent">참여인원 : 1명</div> &ndash;&gt;
                                                            <button
                                                                class="sc-1k9quwu-0 hEHzLT sc-gnmni8-8 kiiuoA buttonCancel"
                                                            >
                                                                결제 취소 / 환불
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="sc-fimazj-0 gKYVxm">
                                    <div class="sc-abukv2-0 kcHmyx">
                                        <div class="sc-abukv2-1 kSZYgn">
                                            2025. 1. 22
                                        </div>
                                        <div class="sc-abukv2-2 kThsCL"></div>
                                    </div>
                                    <div class="sc-gnmni8-0 elGTUw">
                                        <table class="sc-gnmni8-1 eSpcfO">
                                            <colgroup>
                                                <col width="600" />
                                                <col width="" />
                                            </colgroup>
                                            <tbody class="sc-gnmni8-2 hryMPB">
                                                <tr class="sc-gnmni8-3 gmGnuU">
                                                    <td
                                                        class="sc-gnmni8-5 hUzAOG"
                                                    >
                                                        <div
                                                            class="sc-1jiyjbz-0 dGiGeF"
                                                        >
                                                            <div
                                                                class="sc-gnmni8-9 kCcQTc"
                                                            >
                                                                <div
                                                                    class="sc-g8964r-0 oRzGt"
                                                                ></div>
                                                                <div
                                                                    class="sc-9cwg9-1 gLgexz"
                                                                >
                                                                    <div
                                                                        class="sc-9cwg9-2 cNiGzR"
                                                                    >
                                                                        <div
                                                                            class="sc-9cwg9-3 eEDOvs"
                                                                        >
                                                                            <a
                                                                                class="sc-1uwk3m0-0 kdlGbA sc-9cwg9-0 gujsmv"
                                                                                href="/ssr/sdp/link?vendorItemId=85656229794&amp;imagePath=https%3A%2F%2Fthumbnail.coupangcdn.com%2Fthumbnails%2Fremote%2F96x96ex%2Fimage%2F1025_amir_coupang_oct_80k%2Fa7ef%2F9e6e8620946716e0562acb703c706173b8766c2176121fa6a7de369b71d7.jpg&amp;sourceType=MyCoupang_my_orders_list_product_image"
                                                                                target="_blank"
                                                                                ><img
                                                                                    loading="lazy"
                                                                                    width="100%"
                                                                                    height="100%"
                                                                                    src="/images/main/sunjaryung.webp"
                                                                            /></a>
                                                                        </div>
                                                                        <div
                                                                            class="sc-9cwg9-5 bmwSdh"
                                                                        >
                                                                            <div
                                                                                class="sc-9cwg9-6 jBCCpd"
                                                                            >
                                                                                <a
                                                                                    class="sc-gnmni8-10 yma-DD"
                                                                                ></a
                                                                                ><a
                                                                                    href="/ssr/sdp/link?vendorItemId=85656229794&amp;imagePath=https%3A%2F%2Fthumbnail.coupangcdn.com%2Fthumbnails%2Fremote%2F96x96ex%2Fimage%2F1025_amir_coupang_oct_80k%2Fa7ef%2F9e6e8620946716e0562acb703c706173b8766c2176121fa6a7de369b71d7.jpg&amp;sourceType=MyCoupang_my_orders_list_product_title"
                                                                                    target="_blank"
                                                                                    class="sc-gnmni8-10 sc-8q24ha-0 yma-DD hPjYZj"
                                                                                ></a
                                                                                ><a
                                                                                    class="sc-gnmni8-10 yma-DD"
                                                                                ></a
                                                                                ><a
                                                                                    class="sc-gnmni8-10 sc-8q24ha-5 yma-DD iDQVMP"
                                                                                    ><div
                                                                                        class="sc-8q24ha-3 gFbjJh"
                                                                                    >
                                                                                        <div
                                                                                            class="sc-uaa4l4-0 jxRaeI"
                                                                                        >
                                                                                            <span
                                                                                                class="sc-13xhsmd-0 kYtEGM"
                                                                                                ><span
                                                                                                    class="sc-13xhsmd-1 joIhoV"
                                                                                                ></span
                                                                                            ></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="sc-8q24ha-4 cUFnye"
                                                                                    >
                                                                                        <div
                                                                                            class="sc-xuyxga-1 hxalxw"
                                                                                        ></div></div
                                                                                ></a>
                                                                                <div
                                                                                    class="sc-fxyxvg-0 igPkOG"
                                                                                ></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="sc-gnmni8-6 gbTJl"
                                                    >
                                                        <div
                                                            class="sc-gnmni8-7 bCQoer"
                                                        >
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                코스명: B코스
                                                            </div>
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                결제 금액 :
                                                                20,000 원
                                                            </div>
                                                            &lt;!&ndash; 그룹참여일 경우 &ndash;&gt;
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                참여형태 :
                                                                그룹참여
                                                            </div>
                                                            <div
                                                                class="insertComent"
                                                            >
                                                                참여인원 : 2명
                                                            </div>
                                                            &lt;!&ndash; 단독참여일 경우 &ndash;&gt;
                                                            &lt;!&ndash; <div class="insertComent">참여형태 : 단독참여</div>
                                                            <div class="insertComent">참여인원 : 1명</div> &ndash;&gt;
                                                            <button
                                                                class="sc-1k9quwu-0 hEHzLT sc-gnmni8-8 kiiuoA buttonCancel"
                                                            >
                                                                결제 취소 / 환불
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                &lt;!&ndash; 결제내역이 없을 시 나올 화면
                                <div
                                    class="Placeholder__Wrapper-jvh9ey-0 kVYyVO"
                                >
                                    <div
                                        class="Placeholder__Wrapper-von7t2-0 gjaxFh"
                                    >
                                        <img
                                            src="data:image/svg+xml,%3Csvg width='56' height='56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M38 16H22M38 23H22M38 30H22M38 37H22' stroke='%23777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3Crect x='8' y='5' width='39' height='44' rx='4' stroke='%23777' stroke-width='2'/%3E %3Ccircle cx='16.5' cy='16' r='1.5' fill='%23777'/%3E %3Ccircle cx='16.5' cy='23' r='1.5' fill='%23777'/%3E %3Ccircle cx='16.5' cy='30' r='1.5' fill='%23777'/%3E %3Ccircle cx='16.5' cy='37' r='1.5' fill='%23777'/%3E %3Ccircle cx='42' cy='43' r='11' fill='%23fff' stroke='%23fff' stroke-width='2'/%3E %3Ccircle cx='42' cy='43' r='9' fill='%23fff' stroke='%23777' stroke-width='2'/%3E %3Cpath d='m39 46 6-6M45 46l-6-6' stroke='%23777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E"
                                            alt="아직 결제내역이 없어요!"
                                            width="56px"
                                            height="56px"
                                        />
                                        <div
                                            class="Placeholder__Title-von7t2-1 dqGjWH"
                                        >
                                            아직 결제내역이 없어요!
                                        </div>
                                        <div
                                            class="Placeholder__SubTitle-von7t2-2 gSjDbY"
                                        >
                                            지금 바로 프립을 시작해보세요.
                                        </div>
                                        <div
                                            class="Placeholder__ButtonWrapper-von7t2-3 hCwBUo"
                                        >
                                            <button
                                                class="Primary__Button-sc-5uqlgg-0 jjvlFY"
                                            >
                                                홈으로 이동
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            &ndash;&gt;--></div>
                        </div>
                    </div>
                </div>
                <div id="modal-root"></div>
                <div id="dnd-root"></div>
                <footer th:replace="/all/footer.html :: #main-footer"></footer>
            </body>
            <script src="/js/myPage/payContent.js"></script>
        </html>
    </head>
</html>
