<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/proposal/reviewlist.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
        <link
            href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
            rel="stylesheet"
        />

        <title>추천 코스 후기 목록</title>
    </head>
    <body class="fontLoaded" th:object="${lists}">
    <header th:replace="~{all/header.html :: #main-header}"></header>
        <div id="app">
            <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                <!-- Header will be dynamically inserted here -->
                <div id="header-placeholder"></div>

                <div class="PageWrapper-sc-1w87j10-0 bScXKt">
                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block">
                        <header class="ProductReviewPage__Header-mmv016-0 bdKwai">
                            <div class="ProductReviewPage__Title-mmv016-1 cWpPOd review-count">
                            </div>
                        </header>
                        <div class="ProductReviewPage__ReviewWrapper-mmv016-7 ylWSP review-wrap">
                        </div>
                        <footer
                                class="Wrapper__PaginationWrapper-fk4uv4-0 hBVRcD button-container"
                        >
                            <div
                                    class="PaginationButtonGroup__PrevButtonWrapper-x0iffd-0 gIsDDT left-button-wrap"
                            >
                            </div>
                            <div id="button-wrap"></div>
                            <div
                                    class="PaginationButtonGroup__NextButtonWrapper-x0iffd-1 eNIHag right-button-wrap"
                            >
                            </div>
                        </footer>
                    </div>
                </div>

                <!-- Footer will be dynamically inserted here -->
                <div id="footer-placeholder"></div>
            </div>
        </div>
        <div id="modal-root" style="display: none">
            <div>
                <style>
                    .fade-enter {
                        opacity: 0.01;
                    }
                    .fade-enter.fade-enter-active {
                        opacity: 1;
                        transition: opacity 200ms;
                    }
                    .fade-leave {
                        opacity: 1;
                    }
                    .fade-leave.fade-leave-active {
                        opacity: 0.01;
                        transition: opacity 200ms;
                    }
                </style>
                <div id="lightboxBackdrop" class="container_9tizg4">
                    <div>
                        <div class="content_13hv8io" style="margin-bottom: 0px; max-width: 1024px">
                            <div class="header_1tk9zku">
                                <span></span
                                ><button title="Close (Esc)" class="close_1x3s325">
                                    <span
                                        ><svg
                                            fill="white"
                                            version="1.1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px"
                                            y="0px"
                                            width="100%"
                                            height="100%"
                                            viewBox="0 0 512 512"
                                            style="enable-background: new 0 0 512 512"
                                            xml:space="preserve"
                                        >
                                            <path
                                                d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"
                                            ></path></svg
                                    ></span>
                                </button>
                            </div>
                            <figure class="figure_10ki57k">
                                <img
                                    class="image_1swebtw-o_O-imageLoaded_zgbg08"
                                    src=""
                                    style="cursor: auto; max-height: calc(-90px + 100vh)"
                                />
                            </figure>
                            <div class="spinner_te2qz2">
                                <div
                                    title=""
                                    role="button"
                                    aria-label="animation"
                                    tabindex="0"
                                    style="width: 50px; height: 100%; overflow: hidden; margin: 0px auto; outline: none"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 300 300"
                                        width="300"
                                        height="300"
                                        preserveAspectRatio="xMidYMid meet"
                                        style="
                                            width: 100%;
                                            height: 100%;
                                            transform: translate3d(0px, 0px, 0px);
                                            content-visibility: visible;
                                        "
                                    >
                                        <defs>
                                            <clipPath id="__lottie_element_106">
                                                <rect width="300" height="300" x="0" y="0"></rect>
                                            </clipPath>
                                        </defs>
                                        <g clip-path="url(#__lottie_element_106)">
                                            <g
                                                transform="matrix(1,0,0,1,153.36199951171875,143.44900512695312)"
                                                opacity="1"
                                                style="display: block"
                                            >
                                                <g
                                                    opacity="1"
                                                    transform="matrix(0.5459200143814087,0,0,0.5459200143814087,-3.361999988555908,6.551000118255615)"
                                                >
                                                    <path
                                                        stroke-linecap="butt"
                                                        stroke-linejoin="miter"
                                                        fill-opacity="0"
                                                        stroke-miterlimit="4"
                                                        stroke="rgb(247,247,247)"
                                                        stroke-opacity="1"
                                                        stroke-width="40"
                                                        d=" M0,-156.81199645996094 C86.54454040527344,-156.81199645996094 156.81199645996094,-86.54454040527344 156.81199645996094,0 C156.81199645996094,86.54454040527344 86.54454040527344,156.81199645996094 0,156.81199645996094 C-86.54454040527344,156.81199645996094 -156.81199645996094,86.54454040527344 -156.81199645996094,0 C-156.81199645996094,-86.54454040527344 -86.54454040527344,-156.81199645996094 0,-156.81199645996094z"
                                                    ></path>
                                                </g>
                                            </g>
                                            <g
                                                transform="matrix(1,0,0,1,153.36199951171875,143.44900512695312)"
                                                opacity="1"
                                                style="display: block"
                                            >
                                                <g
                                                    opacity="1"
                                                    transform="matrix(0.5459200143814087,0,0,0.5459200143814087,-3.361999988555908,6.551000118255615)"
                                                >
                                                    <path
                                                        stroke-linecap="round"
                                                        stroke-linejoin="miter"
                                                        fill-opacity="0"
                                                        stroke-miterlimit="4"
                                                        stroke="rgb(7,107,255)"
                                                        stroke-opacity="1"
                                                        stroke-width="40"
                                                        d=" M-90.7979965209961,-127.83000183105469 C-65.16799926757812,-146.07699584960938 -33.82699966430664,-156.81199645996094 0,-156.81199645996094 C0,-156.81199645996094 0,-156.81199645996094 0,-156.81199645996094 C3.874000072479248,-156.81199645996094 7.715000152587891,-156.67100524902344 11.517999649047852,-156.39500427246094"
                                                    ></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="footer_60scne">
                                <span></span>
                                <div class="footerCount_lkhc9u"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="dnd-root"></div>
        <footer th:replace="~{all/footer.html :: #main-footer}"></footer>
    </body>
    <script th:inline="javascript">
        const lists = [[${lists}]]
    </script>
    <script src="/js/proposal/reviewlist.js"></script>
    <script src="/js/proposal/reviewlist-service.js"></script>
    <script src="/js/proposal/reviewlist-layout.js"></script>
    <script src="/js/proposal/reviewlist-event.js"></script>
    <script src="/js/all/footer.js"></script>
</html>
