<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/common/header.css" />
        <link rel="stylesheet" href="/css/feeds/real.css" />
        <link rel="stylesheet" href="/css/common/footer.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
        <link
            href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&amp;family=Nanum+Gothic&amp;family=Nanum+Gothic+Coding&amp;family=Nanum+Myeongjo&amp;family=Nanum+Pen+Script&amp;family=Noto+Serif+KR&amp;display=swap"
            rel="stylesheet"
        />

        <title>리얼 후기 입력</title>
    </head>
    <body class="fontLoaded">
        <div id="app">
            <div class="App__AppWrapper-nc5ti6-0 idXWQn">
                <!-- Header will be dynamically inserted here -->
                <div id="header-placeholder"></div>
                <header th:replace="~{all/header.html :: #main-header}"></header>

                <div class="PageWrapper-sc-1w87j10-0 bScXKt">
                    <div class="Fade__Wrapper-sc-1s0ipfq-0 koasSX" style="opacity: 1; display: block">
                        <div class="Center__Wrapper-sc-19p29je-0 hcLOFI">
                            <h3>리얼 후기 작성</h3>
                        </div>
                        <div class="WriteFeedPage__Divider-bnh5u-2 hgZork"></div>

<!--                        FORM 형태로 수정  25.03.18 조승찬 시작 -->
                        <form th:action="@{/feeds/real-write}" name="real-input-form" id="real-input-form" method="post" th:object="${realDTO}" enctype="multipart/form-data">
                            <input type="hidden" name="plainId" class="plainId-input" th:field="*{planId}" th:value="*{planId}">
                            <input type="hidden" name="tags" class="tagArray-input" >
                            <div class="Textarea__Wrapper-sc-1b9phu6-0 iFxPyq">
                                <textarea th:field="*{feedContent}" placeholder="참여한 여행에서 어떤걸 느끼셨나요? " maxlength="1200" class="Textarea__StyledTextarea-sc-1b9phu6-1 kmqQeB"></textarea>
                                <p class="Textarea__Count-sc-1b9phu6-2 jvAusQ">0 / 1200 (추천 글자수: 30자 이내)</p>
                            </div>
                            <div class="WriteFeedPage__Divider-bnh5u-2 hgZork"></div>
                            <div style="padding: 20px 0px">
                                <div class="SocialFeedTagsContainer__SocialFeedTagsWrapper-sc-2762su-0 bmexYY">
                                    <input placeholder="태그를 입력 후 엔터를 누르면 태그가 생성돼요! (0/10)" class="SocialFeedTagsContainer__SocialFeedTagsInput-sc-2762su-1 gcqwwh"value=""/>
                                    <div class="bmexYY-container">
                                        <!--  엔터치면 생성되는 태그-->
                                    </div>
                                </div>
                            </div>
                            <div class="WriteFeedPage__Divider-bnh5u-2 hgZork" style="margin-bottom: 20px"></div>
                            <div class="ImageUploadSection__Wrapper-sc-12o1z5n-0 kutLeL">
                                <div>
                                    <label class="InputImageReview__Wrapper-sc-1oapt4s-0 ipbuZD">
                                        <input type="file" accept=".jpg, .jpeg, .png" multiple/>
                                        <span>사진 첨부하기</span>
                                    </label>
                                    <div class="ImageList-sc-9v1mt2-0 hGJMVS"></div>
                                </div>
                            </div>
                        </form>
                        <div class="Footer__ButtonWrapper-sc-1kxogbb-0 jULzvQ">
                            <button type="button" width="290px" color="white" class="Button-bqxlp0-0 jwcODp">등록하기</button>
                        </div>
<!--                    FORM 형태로 수정  25.03.18 조승찬 끝. -->
                    </div>
                </div>

                <!-- Footer will be dynamically inserted here -->
                <div id="footer-placeholder"></div>
            </div>
        </div>
        <div id="modal-root">
            <!-- 모달 요소 -->
            <div id="alertModal" class="modal" style="display: none">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <!-- 모달창을 없앨 때 클릭하는 "X" -->
                    <p></p>
                </div>
            </div>
        </div>
        <div id="dnd-root"></div>
        <footer th:replace="~{all/footer.html :: #main-footer}"></footer>
    </body>

    <script src="/js/feeds/real-write-event.js"></script>
    <!--파일 업로드 25.03.18  조승찬 추가 시작-->
    <script src="/js/feeds/real-write-service.js"></script>
    <script src="/js/feeds/real-write-layout-add.js"></script>
<!--파일 업로드 25.03.18  조승찬 끝-->
    <script src="/js/all/footer.js"></script>
</html>
