<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.GeneralFileMapper">
    <insert id="postFeedWrite">
        INSERT INTO TBL_GENERAL_FILE
             (ID,
              GENERAL_FEED_ID)
        VALUES (#{fileId},
                #{feedId})
    </insert>

    <select id="getFileList" resultType="fileVO">
        SELECT
            g.ID,
            f.FILE_PATH,
            f.FILE_NAME,
            f.FILE_SIZE,
            f.CREATE_DATE,
            f.UPDATE_DATE
        FROM TBL_GENERAL_FILE g
                 JOIN TBL_FILE f ON g.ID = f.ID
        WHERE g.GENERAL_FEED_ID = #{feedId}
        ORDER BY f.CREATE_DATE DESC
    </select>

</mapper>