<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.GeneralFeedMapper">
    <insert id="postFeedWrite">
        INSERT INTO TBL_GENERAL_FEED
            (ID,
             MEMBER_ID)
        VALUES(#{feedId},
               #{memberId})
    </insert>
</mapper>