<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.MemberMapper">

    <sql id="search">
        <if test="search.keyWord != null">
            <where>
                (
                <foreach item="type" collection="search.types" separator=" OR ">
                    <choose>
                        <when test="type == 'e'.toString()">
                            MEMBER_EMAIL LIKE '%' || #{search.keyWord} || '%'
                        </when>
                        <when test="type == 'k'.toString()">
                            MEMBER_NICKNAME LIKE '%' || #{search.keyWord} || '%'
                        </when>
                        <when test="type == 't'.toString()">
                            MEMBER_TELL LIKE '%' || #{search.keyWord} || '%'
                        </when>
                    </choose>
                </foreach>
                )
            </where>
        </if>
    </sql>

    <select id="getMemberList" resultType="memberVO">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_POINT, MEMBER_IS_ACT, CREATED_DATE, UPDATED_DATE
        FROM
        (SELECT ROWNUM R, ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_POINT, MEMBER_IS_ACT, CREATED_DATE, UPDATED_DATE
        FROM
        (SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_POINT, MEMBER_IS_ACT, CREATED_DATE, UPDATED_DATE
        FROM    TBL_MEMBER
        <include refid="search"/>
        ORDER  BY ID DESC )  B
        <![CDATA[
            WHERE  ROWNUM <= ${pagination.endRow}   )
        WHERE  R >= #{pagination.startRow} ]]>
    </select>

    <select id="getCountAll" resultType="_int">
        SELECT COUNT(*)
        FROM   TBL_MEMBER
        <include refid="search"/>
    </select>

    <update id="patchMemberListPause">
        UPDATE    TBL_MEMBER
        SET
            MEMBER_IS_ACT  =  'N' ,
            UPDATED_DATE   =  SYSDATE
        WHERE ID           =  #{id}
    </update>

    <update id="patchMemberListRestart">
        UPDATE    TBL_MEMBER
        SET
            MEMBER_IS_ACT  =  'Y' ,
            UPDATED_DATE   =  SYSDATE
        WHERE ID           =  #{id}
    </update>

    <delete id="deleteMemberList">
        DELETE
        FROM  TBL_MEMBER
        WHERE ID           =  #{id}
    </delete>

    <insert id="insert">
        INSERT INTO TBL_MEMBER (ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_TELL)
        VALUES (SEQ_MEMBER.NEXTVAL, #{memberEmail}, #{memberPassword}, #{memberNickname}, #{memberTell})
    </insert>

    <insert id="kakaoInsert">
        INSERT INTO TBL_MEMBER (ID, MEMBER_EMAIL, MEMBER_NICKNAME)
        VALUES (SEQ_MEMBER.NEXTVAL, #{memberEmail}, #{memberNickname})
    </insert>

    <select id="selectById">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_TELL, MEMBER_BIRTH,
               MEMBER_GENDER, CREATED_DATE, UPDATED_DATE
        FROM TBL_MEMBER
        WHERE ID = #{id}
    </select>

    <select id="selectByMemberEmail">
        SELECT ID, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER
        FROM TBL_MEMBER WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <select id="selectCountByMemberEmail" resultType="_int">
        SELECT COUNT(*) FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <select id="selectByMemberEmailAndMemberPassword" resultType="memberVO">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER
        FROM TBL_MEMBER WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PASSWORD = #{memberPassword}
    </select>

    <update id="update">
        UPDATE TBL_MEMBER
        SET MEMBER_NICKNAME = #{memberNickname}, MEMBER_TELL = #{memberTell}, MEMBER_BIRTH = #{memberBirth}, MEMBER_GENDER = #{memberGender}, UPDATED_DATE = SYSDATE
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM TBL_MEMBER WHERE ID = #{id}
    </delete>

    <!-- 이메일로 아이디 조회 -->
    <select id="selectIdByEmail" parameterType="String" resultType="Long">
        SELECT ID FROM TBL_MEMBER WHERE MEMBER_EMAIL = #{email}
    </select>

    <select id="getMember" parameterType="String" resultType="MemberVO">
        SELECT MEMBER_EMAIL, MEMBER_PASSWORD
        FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <select id="findByNickname" parameterType="string" resultType="com.app.pickcourse.domain.vo.MemberVO">
        SELECT * FROM TBL_MEMBER WHERE MEMBER_NICKNAME = #{nickname}
    </select>

</mapper>