<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.MemberMapper">

    <sql id="search">
        <if test="search.keyWord != null">
            <where>
                <foreach item="type" collection="search.types" separator=" OR ">
                    <choose>
                        <when test="type == 'e'.toString()">
                            MEMBER_EMAIL LIKE '%' || #{search.keyWord} || '%'
                        </when>
                        <when test="type == 'n'.toString()">
                            MEMBER_NAME LIKE '%' || #{search.keyWord} || '%'
                        </when>
                        <when test="type == 'k'.toString()">
                            MEMBER_NICKNAME LIKE '%' || #{search.keyWord} || '%'
                        </when>
                    </choose>
                </foreach>
            </where>
        </if>
    </sql>

    <select id="getMemberList" resultType="memberVO">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_NAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_POINT, MEMBER_IS_ACT, CREATED_DATE, UPDATED_DATE
        FROM
            (SELECT ROWNUM R, ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_NAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_POINT, MEMBER_IS_ACT, CREATED_DATE, UPDATED_DATE
            FROM
                (SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_NICKNAME, MEMBER_NAME, MEMBER_TELL, MEMBER_BIRTH, MEMBER_GENDER, MEMBER_POINT, MEMBER_IS_ACT, CREATED_DATE, UPDATED_DATE
                FROM    TBL_MEMBER
                <include refid="search"/>
                ORDER  BY ID DESC )  B
                <![CDATA[
            WHERE  ROWNUM <= ${criteria.endRow}   )
        WHERE  R >= #{criteria.startRow} ]]>
    </select>

    <select id="getCountAll" resultType="_int">
        SELECT COUNT(*)
        FROM   TBL_MEMBER
        <include refid="search"/>
    </select>

    <update id="patchMemberList">
        UPDATE    TBL_MEMBER
        SET
            MEMBER_IS_ACT  =  'N' ,
            UPDATED_DATE   =  SYSDATE
        WHERE ID           =  #{id}
    </update>

    <delete id="deleteMemberList">
        DELETE
        FROM  TBL_MEMBER
        WHERE ID           =  #{id}
    </delete>

</mapper>