<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.MessageMapper">

    <!-- 메시지 저장 -->
    <insert id="insertMessage">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT SEQ_MESSAGE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_MESSAGE (ID, MESSAGE_ALL_CONTENT, MESSAGE_ALL_DATE)
        VALUES (#{id}, #{content}, SYSDATE)
    </insert>


    <!-- 메시지 조회 -->
    <select id="selectMessageById" parameterType="Long" resultType="messageVO">
        SELECT ID AS messageId, MESSAGE_ALL_CONTENT AS content, MESSAGE_ALL_DATE AS messageDate
        FROM TBL_MESSAGE
        WHERE ID = #{messageId}
    </select>

    <!-- 메시지 삭제 -->
    <delete id="deleteMessageById" parameterType="Long">
        DELETE FROM TBL_MESSAGE WHERE ID = #{messageId}
    </delete>

    <!-- 메세지 전체 조회 -->
    <select id="selectAllMessages" resultType="messageVO">
        SELECT * FROM TBL_MESSAGE
    </select>



</mapper>
