<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.PlanMapper">
<!--    PLAN_FILE_PATH, PLAN_FILE_SIZE, PLAN_FILE_NAME,-->
<!--    #{planFilePath}, #{planFileSize}, #{planFileName}, 빠짐 -->
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_PLAN.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_PLAN
        (ID, PLAN_NAME, PLAN_START_DATE, PLAN_END_DATE, PLAN_DEADLINE, PLAN_MAX_PERSONNEL, PLAN_MIN_PERSONNEL, PLAN_PRICE, PLAN_START_ADDRESS,
         PLAN_CONTENT, MEMBER_ID, COURSE_ID)
        VALUES
            (#{id}, #{planName}, #{planStartDate}, #{planEndDate}, #{planDeadline}, #{planMaxPersonnel}, #{planMinPersonnel}, #{planPrice}, #{planStartAddress}
            , #{planContent},#{memberId}, #{courseId})
    </insert>

    <select id="selectAll" resultType="planVO">
        SELECT * FROM TBL_PLAN
    </select>

    <select id="selectById" resultType="planDTO">
        SELECT * FROM TBL_PLAN
        WHERE ID = #{id}
    </select>

    <update id="update">
        UPDATE TBL_PLAN
        SET
            PLAN_NAME = #{planName},
            PLAN_START_DATE = #{planStartDate},
            PLAN_END_DATE = #{planEndDate},
            PLAN_DEADLINE = #{planDeadline},
            PLAN_MAX_PERSONNEL = #{planMaxPersonnel},
            PLAN_MIN_PERSONNEL = #{planMinPersonnel},
            PLAN_PRICE = #{planPrice},
            PLAN_START_ADDRESS = #{planStartAddress},
            PLAN_CONTENT = #{planContent},
            PLAN_FILE_PATH = #{planFilePath},
            PLAN_FILE_SIZE = #{planFileSize},
            PLAN_FILE_NAME = #{planFileName},
            UPDATED_DATE = #{updatedDate}
        WHERE ID = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM TBL_PLAN
        WHERE ID = #{id}
    </delete>

    <select id="selectByMemberId" resultType="planDTO">
        SELECT ID, MEMBER_NICKNAME, PLAN_NAME, PLAN_START_DATE, 'MM/DD', PLAN_END_DATE, 'MM/DD', PLAN_DEADLINE, PLAN_MAX_PERSONNEL,
        PLAN_MIN_PERSONNEL, PLAN_PRICE, MEMBER_ID, COURSE_ID
        FROM
        (
            SELECT ROWNUM R , ID, MEMBER_NICKNAME, PLAN_NAME, PLAN_START_DATE, PLAN_END_DATE, PLAN_DEADLINE, PLAN_MAX_PERSONNEL,
            PLAN_MIN_PERSONNEL, PLAN_PRICE, MEMBER_ID, COURSE_ID
            FROM
                (
                    SELECT M.MEMBER_NICKNAME, P.ID, P.PLAN_NAME, P.PLAN_START_DATE, P.PLAN_END_DATE, P.PLAN_DEADLINE,
                    P.PLAN_MAX_PERSONNEL, P.PLAN_MIN_PERSONNEL, P.PLAN_PRICE, P.MEMBER_ID, P.COURSE_ID
                    FROM TBL_MEMBER M JOIN TBL_PLAN P
                    ON M.ID = P.MEMBER_ID
                    WHERE MEMBER_ID = 1
                    ORDER BY P.ID DESC
                )
            <![CDATA[
            WHERE ROWNUM <= ${pagination.endRow}
            ]]>
        )
        WHERE R >= ${pagination.startRow}
    </select>

    <select id="selectCount" resultType="_int">
        SELECT COUNT(*) FROM TBL_MEMBER M JOIN TBL_PLAN P
        ON M.ID = P.MEMBER_ID AND P.MEMBER_ID = #{memberID}
    </select>

    <select id="selectAllById" resultType="planVO">
        SELECT * FROM TBL_PLAN
        WHERE  MEMBER_ID = #{memberId}
    </select>

    <select id="selectRankingYearly" resultType="long">
    <![CDATA[
        SELECT PLAN_ID
        FROM (
                 SELECT PLAN_ID, COUNT(*) AS COUNT
                 FROM tbl_participant
                 WHERE CREATED_DATE <= SYSDATE
                   AND CREATED_DATE > ADD_MONTHS(SYSDATE, -12)
                 GROUP BY PLAN_ID
                 ORDER BY COUNT DESC -- 정렬 우선
             )
        WHERE ROWNUM <= 4
     ]]>
    </select>

    <select id="selectRankingMonthly" resultType="long">
    <![CDATA[
        SELECT PLAN_ID
        FROM (
                 SELECT PLAN_ID, COUNT(*) AS COUNT
                 FROM tbl_participant
                 WHERE CREATED_DATE <= SYSDATE
                   AND CREATED_DATE > ADD_MONTHS(SYSDATE, -1)
                 GROUP BY PLAN_ID
                 ORDER BY COUNT DESC -- 정렬 우선
             )
        WHERE ROWNUM <= 4
        ]]>
    </select>

    <select id="selectRankingWeekly" resultType="long">
    <![CDATA[
        SELECT PLAN_ID
        FROM (
                 SELECT PLAN_ID, COUNT(*) AS COUNT
                 FROM tbl_participant
                 WHERE CREATED_DATE <= SYSDATE
                   AND CREATED_DATE > SYSDATE - 7
                 GROUP BY PLAN_ID
                 ORDER BY COUNT DESC -- 정렬 우선
             )
        WHERE ROWNUM <= 4
        ]]>
    </select>
</mapper>