<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.RealFeedMapper">
    <insert id="postFeedWrite">
        INSERT INTO TBL_REAL_FEED
            (ID,
             MEMBER_ID,
             PLAN_ID)
        VALUES(#{id},
               #{memberId},
               #{planId})
    </insert>

    <select id="getFeedList" resultType="feedListDto">
        SELECT
            g.ID,
            f.FEED_CONTENT,
            f.CREATED_DATE,
            f.UPDATED_DATE,
            g.MEMBER_ID
        FROM TBL_REAL_FEED g
                 JOIN TBL_FEED f ON g.ID = f.ID
        ORDER BY f.CREATED_DATE DESC
    </select>

    <select id="getFeedModifyList" resultType="feedListDto">
        SELECT
            g.ID,
            f.FEED_CONTENT,
            f.CREATED_DATE,
            f.UPDATED_DATE,
            g.MEMBER_ID
        FROM TBL_REAL_FEED g
                 JOIN TBL_FEED f ON g.ID = f.ID
        WHERE g.ID = #{id}
        ORDER BY f.CREATED_DATE DESC
    </select>


    <select id="getReviewList" resultType="reviewDTO">
        SELECT   f.ID,
                 f.FEED_CONTENT,
                 f.CREATED_DATE,
                 f.UPDATED_DATE,
                 s.REAL_STAR,
                 r.MEMBER_ID,
                 r.PLAN_ID
        FROM     TBL_FEED f
                     JOIN     TBL_REAL_FEED r
                              ON       f.ID = r.ID
                     LEFT JOIN     TBL_REAL_STAR s
                              ON       f.ID  =  s.FEED_ID
        WHERE    r.MEMBER_ID = #{memberId}
    </select>

    <select id="getReviewModify" resultType="reviewDTO">
        SELECT   f.ID,
                 f.FEED_CONTENT,
                 f.CREATED_DATE,
                 f.UPDATED_DATE,
                 s.REAL_STAR,
                 r.MEMBER_ID,
                 r.PLAN_ID
        FROM     TBL_FEED f
                     JOIN     TBL_REAL_FEED r
                              ON       f.ID = r.ID
                     LEFT JOIN     TBL_REAL_STAR s
                                   ON       f.ID  =  s.FEED_ID
        WHERE    f.ID = #{id}
    </select>

</mapper>