<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.ReceiveMessageMapper">

    <!-- 받은 메시지 저장 -->
    <insert id="insertReceiveMessage" parameterType="receiveMessageVO">
        INSERT INTO TBL_RECEIVE_MESSAGE (ID, RECEIVER_ID, SENDER_ID)
        VALUES (#{id}, #{receiverId}, #{senderId})
    </insert>

    <!-- 받은 메시지 조회 -->
    <select id="selectReceiveMessagesByReceiverId" parameterType="Long" resultType="receiveMessageDTO">
        SELECT
            RM.ID AS ID,
            RM.SENDER_ID AS SENDER_ID,
            RM.RECEIVER_ID AS RECEIVER_ID,
            M.MEMBER_NICKNAME AS SENDER_NICKNAME,
            MSG.MESSAGE_ALL_CONTENT AS CONTENT,
            TO_CHAR(MSG.MESSAGE_ALL_DATE, 'YYYY.MM.DD') AS RECEIVE_DATE,
            RM.RECEIVE_MESSAGE_CHECK AS RECEIVE_MESSAGE_CHECK
        FROM TBL_RECEIVE_MESSAGE RM
                 JOIN TBL_MESSAGE MSG ON RM.ID = MSG.ID
                 JOIN TBL_MEMBER M ON RM.SENDER_ID = M.ID
        WHERE RM.RECEIVER_ID = #{receiverId}
        ORDER BY MSG.MESSAGE_ALL_DATE DESC
    </select>

    <select id="selectAllReceiveMessage" parameterType="Long" resultType="receiveMessageDTO">
    <![CDATA[
        SELECT ID,
        SENDER_ID,
        RECEIVER_ID,
        MEMBER_NICKNAME AS SENDER_NICKNAME,
        MEMBER_EMAIL AS SENDER_EMAIL,
        MESSAGE_ALL_CONTENT AS CONTENT,
        RECEIVE_DATE,
        RECEIVE_MESSAGE_CHECK FROM (
        SELECT ROWNUM R,
        ID,
        SENDER_ID,
        RECEIVER_ID,
        MEMBER_NICKNAME,
        MEMBER_EMAIL,
        MESSAGE_ALL_CONTENT,
        RECEIVE_DATE,
        RECEIVE_MESSAGE_CHECK
        FROM (SELECT RM.ID,
        RM.SENDER_ID,
        RM.RECEIVER_ID,
        M.MEMBER_NICKNAME,
        M.MEMBER_EMAIL,
        MSG.MESSAGE_ALL_CONTENT,
        TO_CHAR(MSG.MESSAGE_ALL_DATE, 'YYYY.MM.DD') AS RECEIVE_DATE,
        RM.RECEIVE_MESSAGE_CHECK AS RECEIVE_MESSAGE_CHECK
        FROM TBL_RECEIVE_MESSAGE RM
        JOIN TBL_MESSAGE MSG ON RM.ID = MSG.ID
        JOIN TBL_MEMBER M ON RM.SENDER_ID = M.ID
        WHERE RM.RECEIVER_ID = #{receiverId}
        ORDER BY MSG.MESSAGE_ALL_DATE DESC)
        WHERE ROWNUM <= ${pagination.endRow}
        )
        WHERE R >= ${pagination.startRow}
        ]]>
    </select>

    <delete id="deleteReceiveMessageById">
        DELETE FROM TBL_RECEIVE_MESSAGE WHERE ID = #{id}
    </delete>

    <select id="selectTotalReceiveMessage" resultType="_int">
        SELECT COUNT(*) FROM TBL_RECEIVE_MESSAGE WHERE RECEIVER_ID = #{receiverId}
    </select>

    <!-- 받은 메시지 개수 조회 -->
    <select id="countByReceiverId" resultType="_int">
        SELECT COUNT(*) FROM TBL_RECEIVE_MESSAGE WHERE RECEIVER_ID = #{receiverId}
    </select>

    <select id="selectMessageById" resultType="receiveMessageDTO">
        SELECT * FROM TBL_RECEIVE_MESSAGE WHERE id = #{id}
    </select>

    <!-- 메시지 삭제 -->
    <delete id="deleteMessageById">
        DELETE FROM TBL_RECEIVE_MESSAGE WHERE id = #{id}
    </delete>

    <!--메세지 읽음 확인-->
    <update id="updateToChecked">
        UPDATE TBL_RECEIVE_MESSAGE
        SET RECEIVE_MESSAGE_CHECK = 'READ'
        WHERE ID = #{id}
    </update>




</mapper>
