<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.ReplyMapper">

    <insert id="postReplyList">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT SEQ_REPLY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_REPLY
            (ID,
            REPLY_CONTENT)
        VALUES
            (#{id},
            #{replyContent})
    </insert>

</mapper>