<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.VolunteerParticipantMapper">

    <select id="getCountAll" resultType="_int">
        SELECT   COUNT(*)
        FROM     TBL_VOLUNTEER_PARTICIPANT
        WHERE    COURSE_ID = #{courseId}
    </select>

    <select id="getParticipantsList" resultType="VolunteerParticipantDTO">
        <![CDATA[
        SELECT id, memberId, memberNickname, memberFilePath, memberFileName, planId,
               createdDate, updatedDate
        FROM
        (
            SELECT ROWNUM R, id, memberId, memberNickname,memberFilePath, memberFileName, planId,
                   createdDate, updatedDate
            FROM
                (
                    SELECT
                        v.ID AS id,
                        m.ID AS memberId,
                        m.MEMBER_NICKNAME AS memberNickname,
                        m.MEMBER_FILE_PATH AS memberFilePath,
                        m.MEMBER_FILE_NAME AS memberFileName,
                        v.COURSE_ID AS planId,
                        TO_CHAR(v.CREATED_DATE, 'YYYY-MM-DD') AS createdDate,
                        TO_CHAR(v.UPDATED_DATE, 'YYYY-MM-DD') AS updatedDate
                    FROM
                        TBL_VOLUNTEER_PARTICIPANT v
                        JOIN TBL_MEMBER m
                            ON  v.MEMBER_ID = m.ID
                    WHERE   v.COURSE_ID = #{courseId}
                    ORDER BY v.ID DESC
                ) B
             WHERE  ROWNUM <= #{pagination.endRow}
        )
        WHERE  R >= #{pagination.startRow}
        ]]>
    </select>

    <select id="checkDuplicate" resultType="_int">
        SELECT COUNT(*)
        FROM   TBL_VOLUNTEER_PARTICIPANT
        WHERE  COURSE_ID   =   #{courseId}
        AND    MEMBER_ID   =   #{memberId}
    </select>

    <insert id="postEcoparticipant">
        INSERT INTO TBL_VOLUNTEER_PARTICIPANT
            (ID,
             MEMBER_ID,
             COURSE_ID)
        VALUES
            (SEQ_VOLUNTEER_PARTICIPANT.nextval,
             #{memberId},
             #{courseId})
    </insert>
</mapper>