<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.pickcourse.mapper.VolunteerExcludeMapper">
    <insert id="postAddCourse">
        INSERT INTO TBL_VOLUNTEER_EXCLUDE
            (ID,
             EXCLUDE_CONTENT,
             VOLUNTEER_ID
            )
        VALUES
            (SEQ_VOLUNTEER_EXCLUDE.NEXTVAL,
             #{content},
             #{volunteerId})
    </insert>

    <select id="getCourseDetail" resultType="String">
        SELECT EXCLUDE_CONTENT
        FROM TBL_VOLUNTEER_EXCLUDE
        WHERE VOLUNTEER_ID = #{volunteerId}
    </select>

    <delete id="deleteCourseDetail">
        DELETE FROM TBL_VOLUNTEER_EXCLUDE
        WHERE VOLUNTEER_ID= #{volunteerId}
    </delete>
</mapper>