.idXWQn {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.hKZUBk {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    padding: 48px 0px 16px;
    background-color: rgb(2, 74, 149);
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    z-index: 4000;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: top 100ms linear;
}
.bScXKt {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}
.koasSX {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}
.hcLOFI {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 65px;
    position: relative;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.hcLOFI h3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.epfhZu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
    padding: 20px 0px;
}
.ennMMJ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: rgb(51, 51, 51);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
}
.jkxdpP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    cursor: pointer;
    font-size: 14px;
}
.bSEWFr {
    padding: 0px;
    cursor: pointer;
    vertical-align: super;
}
.hgZork {
    width: 100%;
    height: 1px;
    background-color: rgb(244, 244, 244);
}
.iFxPyq {
    margin: 15px 0px 26px;
}
.kmqQeB {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.35px;
    width: 100%;
    min-height: 150px;
    padding: 15px;
    resize: none;
    background-color: rgb(237, 239, 242);
    border-radius: 5px;
    /* color: rgb(78, 89, 104); */
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    font-family: Arial, sans-serif; 
}
.jvAusQ {
    margin-top: 2px;
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}
.bmexYY {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.gcqwwh {
    width: 100%;
    /* color: rgb(153, 153, 153); */
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    font-family: Arial, sans-serif; 
}
.kutLeL {
    border-bottom: 0px;
}
.ipbuZD {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    border: 1px solid rgb(208, 216, 226);
    border-radius: 5px;
    cursor: pointer;
}
.ipbuZD > input {
    display: none;
}
.ipbuZD > span {
    font-size: 17px;
    color: rgb(78, 89, 104);
}
.hGJMVS {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.jULzvQ {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 0px 65px;
}
.jwcODp {
    width: 290px;
    height: 50px;
    line-height: normal;
    padding: 0px 13px;
    background-color: rgb(51, 151, 255);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

/* modal 관련 */

.jgFMVr {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}
.cyEVkt {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px auto -100px;
    padding-bottom: 100px;
    z-index: 3001;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    animation: 0.3s ease 0s 1 normal none running gDIGGC;
}
.dNCiPY {
    position: relative;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.dNCiPY::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 5px;
    border-radius: 3px;
    background-color: rgb(221, 221, 221);
    top: 18px;
    left: auto;
    right: auto;
}
.kNwzQK {
    padding: 35px 20px 0px;
    font-size: 22px;
    line-height: 30px;
    color: rgb(51, 61, 75);
    font-weight: bold;
}
.gKShYF {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px 40px;
    line-height: 15px;
}
.bwbCin {
    display: flex;
    flex-direction: column;
}
.bXAzoH {
    font-size: 16px;
    color: rgb(88, 88, 101);
}
.cDJNKc {
    font-size: 16px;
    color: rgb(78, 89, 104);
    margin: 10px 0px;
}
p,
label {
    margin: 15px;
}
.hDGrky {
    font-size: 14px;
    color: rgb(142, 151, 163);
}
@keyframes jBcSpD {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.eCzJv {
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    animation: 0.3s ease 0s 1 normal none running jBcSpD;
}
.bJjaqH {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 3px;
    padding: 4px 8px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 15px;
}
.bJjaqH span {
    font-size: 14px;
    color: rgb(119, 119, 119);
}
.bJjaqH img {
    width: 20px;
    cursor: pointer;
}
.bmexYY-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.hGJMVS > * {
    width: calc(25% - 7.5px);
    height: calc(25% - 7.5px);
    margin-right: 10px;
}
.kZTsQf {
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.gDuKGF {
    min-height: 1px;
}
.hVNKgp {
    width: 100%;
    border-radius: 5px;
}
.benIbu {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 26px;
    height: 26px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


/* 모달 스타일 */
.modal {
    display: none; /* 숨기기 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0); */
    background-color: rgb(0, 0, 0, 0.4);
}

/* modal 관련 */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*25.03.18 조승찬 추가 시작*/
/* 파일 업로드 아이템 스타일 */

.uploadFile {
    position: relative;
    display: inline-block;
    width: 150px; /* 박스 너비 */
    height: 150px; /* 박스 높이 */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.uploadFile .image-files {
    width: 100%; /* 이미지 박스에 맞추기 */
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지 */
    vertical-align: middle;
}

.file-cancel {
    position: absolute;
    top: 5px; /* 박스의 위쪽에서 5px */
    right: 5px; /* 박스의 오른쪽에서 5px */
    width: 20px; /* 버튼 크기를 작게 설정 */
    height: 20px;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%; /* 둥근 버튼 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex; /* 버튼 안의 콘텐츠를 정렬하기 위함 */
    justify-content: center;
    align-items: center;
}
/*25.03.18 조승찬 추가 끝*/
/*25.03.19 조승찬 추가 시작*/
/*삭제버튼 추가 등록버튼과 가운데 가로 정렬*/

.Button-bqxlp0-0 {
    width: 150px; /* 버튼 너비 설정 */
    color: white;
    text-align: center; /* 버튼 텍스트 중앙 정렬 */
    margin-left: 10px;
}

.Button-bqxlp0-0:hover {
    background-color: rgb(41, 141, 245); /* 호버 시 배경색 변경 */
    color: lightgray; /* 호버 시 텍스트 색상 변경 */
}
/*25.03.19 조승찬 추가 끝*/